// https://codepen.io/mithicher/pen/azQKNN
.content
  #title
    h1 Novidades Do Site !!
  #bestOf
    h2 jogos
    #rubi.card
      .img
      h3 Resident evil village
      h4 200,89
    #job.card
      .img
      h3 The witcher 3
      h4 200,00
    #euro.card
      .img
      h3 Pés 2021 
      h4 250,00
  #places
    h2 Hadset 
    #aquashow.card
      .img
      h3 hadset gatinho 
      h4 150,00
    #pena.card
      .img
      h3 headset preto
      h4 340,99
    #praia.card
      .img
      h3 headset cores
      h4 356,00
  #events
    h2 Hardware 
    #gq.card
      .img
      h3 SSD
      h4 899,90
    #somnii.card
      .img
      h3 Placa de video 
      h4 8090,90
    #paintball.card
      .img
      h3 RTX 3090
      h4 22.000,00
  #books
    h2 Gabinetes 
    #player.card
      .img
      h3 Gabinete rosa
      h4 5.000,90
    #esquadrao.card
      .img
      h3 Gabinete gamer 
      h4 7.890,09
    #astronauta.card
      .img
      h3 Gabinet branco 
      h4 6.090,09
  #movies
    h2 Para smartphones 
    #deadpool.card
      .img
      h3 Capinha Sailor moon
      h4 35,00
    #suicidesquad.card
      .img
      h3 capinha 
      h4 14,99
    #kubo.card
      .img
      h3 capinha 
      h4 36,00
  #musics
    h2 Controles 
    #sucker.card
      .img
      h3 Controle xbox 
      h4 230,00
    #heathens.card
      .img
      h3 controle ps4
      h4 354,09
    #house.card
      .img
      h3 controle kawai
      h4 160,90
  #games
    h2 Jogos
    #torchlight.card
      .img
      h3 Torchlight 2
      h4 Bom RPG!
    #rocketleague.card
      .img
      h3 Rocket League
      h4 Futebol ⚽ Carros 🚗😃 
    #minecraft.card
      .img
      h3 Minecraft
      h4 É diferente e divertido.
  #seasons
    h2 Consoles 
    #billions.card
      .img
      h3 Xbox one
      h4 4500,89
    #preacher.card
      .img
      h3 Ps5
      h4 7000,90
    #hunter.card
      .img
      h3 Xbox 360 
      h4 4600,00
    
    