@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url('https://fonts.googleapis.com/css?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css?family=Niconne|Satisfy&display=swap');

$bg-fallback: #ee9ca7;
$bg-webkit: -webkit-linear-gradient(to top, #ffdde1, #ee9ca7);
$bg: linear-gradient(to top, #ffdde1, #ee9ca7);

$form-primary: #ea77af;

$luna-size: 190px;
$luna-head-size: $luna-size - 10px;
$luna-fur: lighten(#303455, 8%);
$luna-white: #fbfbfb;
$luna-eyes: lighten(#3f090d, 7%);
$luna-eyes-light: #b9202f;
$luna-ears: #c38b93;
$luna-tail-angle: 13deg;

@function randomNum($min, $max) {
  $rand: random();
  @return ($min + floor($rand * (($max - $min) + 1)));
}

@mixin center() {
  transform: translate(-50%, 0%);
  left: 50%;
}

html,
body {
  background-image: linear-gradient(
    to right top,
    #ea77af,
    #ec7db2,
    #ed83b5,
    #ef88b9,
    #f08ebc,
    #ef8abd,
    #ee85be,
    #ed81c0,
    #e772c2,
    #de64c5,
    #d456ca,
    #c64ad0
  );
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
}

button,
input,
label {
  display: block;
  height: 30px;
}

button,
input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
}

input {
  position: relative;
  border: none;
  border-bottom: 1px solid $luna-fur;
  background: transparent;
  top: 20px;
  transition: box-shadow .2s, border .2s;

  &:invalid {
    outline: none;
  }

  &:focus,
  &:valid {
    outline: none;
    border-bottom-color: $form-primary;
    box-shadow: 0 2px $form-primary;
    + label {
      color: $form-primary;
      font-size: 12px;
      transform: translateY(-20px);
    }
  }
}


label {
  position: relative;
  font-size: 15px;
  top: -8px;
  transition: 0.2s;
}

input,
label {
  &:hover {
    cursor: text;
  }
}

button {
  background-color: $form-primary;
  border: none;
  color: white;
  margin-top: 5%;
  font-size: 15px;
  overflow: hidden;
  border: 2px solid $form-primary;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);

  &:hover {
    cursor: pointer;
    background-color: white;
    border: 2px solid $form-primary;
    color: $form-primary;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  &:focus {
    outline: none;
  }
}

figcaption {
  text-align: center;
  font-family: 'Satisfy', cursive;
  font-size: 30px;
  color: $form-primary;
  margin-bottom: -20px;
}

.label-warning {
  color: red;
}

.input-warning {
  border-bottom-color: red;
  box-shadow: 0 2px red;

  &:invalid,
  &:valid,
  &:focus {
    outline: none;
    border-bottom-color: red;
    box-shadow: 0 2px red;
    + label {
      color: red;
    }
  }
}

.no-transition {
  transition: none !important;
}
.container {
  position: absolute;
  width: 290px;
  height: 400px;
  // height: 450px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 3px rgba(black, 0.1);
  padding: 20px;
  padding-top: 40px;
}

.luna {
  width: $luna-size;
  height: $luna-size;
  position: relative;
  @include center();
  animation: shake .5s;

  .head {
    position: absolute;
    @include center();
    width: $luna-head-size - 10px;
    height: $luna-head-size;
    top: 20px;
    background-color: $luna-fur;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100% 150px;
    border-bottom-right-radius: 100% 150px;
  }

  .moon {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    box-shadow: inset 0px -8px rgb(233, 210, 2);
    top: 15px;
    transition: .2s;
    @include center();
  }

  .mad-moon {
    box-shadow: inset 0px -8px red;
  }

  .face {
    position: relative;
    width: 85%;
    height: 75%;
    top: 10%;
    @include center();

    .eyes {
      position: relative;
      width: 100%;
      height: 50%;
      top: 26%;
      @include center();

      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 35%;
        height: 50%;
        border-radius: 100%;
        border-top: 2px solid black;
        top: -10px;
      }

      &:before {
        transform: rotate(-25deg);
      }

      &:after {
        transform: rotate(25deg);
        right: 0;
      }

      .eye {
        position: absolute;
        width: 40%;
        height: 105%;
        background-color: $luna-white;
        border-top-left-radius: 100%;
        border-top-right-radius: 100%;
        border-bottom-left-radius: 100% 80%;
        border-bottom-right-radius: 100% 80%;
        border-top: 5px solid black;
        overflow: hidden;

        .inner-eye {
          position: absolute;
          width: 40px;
          height: 50px;
          border: 4px solid darken($luna-eyes, 5%);
          border-radius: 100%;
          background-color: $luna-eyes;
          top: 5px;
          overflow: hidden;
          transition: left 0.2s ease, transform 0.2s ease;
          background-image: radial-gradient(
              ellipse 9px 14px at 56% 32%,
              $luna-white 0%,
              $luna-white 99%,
              transparent 100%
            ),
            radial-gradient(ellipse 3px 3px at 72% 70%, $luna-white 0%, $luna-white 99%, transparent 100%),
            radial-gradient(ellipse 10px 12px at 45% 45%, black 0%, black 99%, transparent 100%),
            radial-gradient(ellipse 20px 25px at 48% 40%, $luna-eyes 0%, $luna-eyes 99%, transparent 100%),
            radial-gradient(ellipse 20px 25px at 43% 55%, $luna-eyes-light 0%, $luna-eyes-light 99%, transparent 100%);

          &:before,
          &:after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
          }

          &:before {
            border-left: 9px solid transparent;
            border-right: 9px solid transparent;
            border-bottom: 25px solid $luna-white;
            transform: rotate(45deg);
            left: -5px;
            top: 65%;
          }
          &:after {
            border-left: 2px solid transparent;
            border-right: 2px solid transparent;
            border-bottom: 15px solid $luna-white;
            transform: rotate(20deg);
            left: 10px;
            top: 80%;
          }
        }

        &:nth-child(1) {
          box-shadow: inset 5px 5px darken($luna-white, 15%);
          border-left: 5px solid black;
          border-right: 1px solid black;

          & > .inner-eye {
            left: 12px;
          }
        }

        &:nth-child(2) {
          box-shadow: inset -5px 5px darken($luna-white, 15%);
          border-left: 1px solid black;
          border-right: 5px solid black;
          right: 0;

          & > .inner-eye {
            left: -3px;
          }
        }
      }

      .closed {
        @extend .eye;
        background-color: $luna-fur;
        &:first-child,
        &:last-child {
          box-shadow: none;
          border: none;
          border-bottom: 5px solid black;
        }

        & > .inner-eye {
          display: none;
        }
      }

      .blink {
        animation: blink 4s infinite;
      }
    }

    .nose {
      @include center();
      position: absolute;
      width: 0;
      height: 0;
      top: 80%;
      border-top: 8px solid $luna-ears;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-radius: 70%;
    }

    .mouth {
      @include center();
      position: absolute;
      width: 50px;
      height: 20px;
      // background-color: pink;
      top: 80%;

      &:before,
      &:after {
        content: '';
        position: absolute;
        width: 25.5px;
        height: 20px;
        border-radius: 100%;
        border-bottom: 2px solid black;
      }

      &:after {
        right: 0;
      }
    }
  }

  .ears {
    width: 100%;
    height: 50%;
    top: -13px;

    .ear {
      position: absolute;
      width: 125px;
      height: 125px;
      top: 10px;
      border-radius: 20px;
      background-color: $luna-fur;
      box-shadow: inset -5px 8px darken($luna-fur, 10%), inset 2px 2px darken($luna-fur, 10%);
      .inner-ear {
        @extend .ear;
        background-color: $luna-ears;
        box-shadow: inset -5px 15px darken($luna-ears, 10%), inset 4px 4px darken($luna-ears, 10%),
        -2px 4px 5px darken($luna-fur, 10%);
        width: 80px;
        top: 0;
      }
    }

    .left-ear {
      border-bottom-left-radius: 80px;
      border-top-right-radius: 80px;
      transform: skewX(25deg) rotate(35deg);
      left: -10px;

      & > .inner-ear {
        border-bottom-left-radius: 100px;
        transform: scale(0.65) rotate(-5deg);
        left: -5px;
      }
    }

    .right-ear {
      right: -10px;
      border-bottom-right-radius: 80px;
      border-top-left-radius: 80px;
      transform: skewX(-25deg) rotate(-35deg);

      & > .inner-ear {
        border-bottom-right-radius: 100px;
        transform: scale(0.65) rotate(5deg);
        right: -5px;
      }
    }
  }
}

// https://tympanus.net/codrops/2016/03/21/animated-animals-css-svg/
.luna-tail {
    background-color: $luna-fur;
    height: 20px;
    width: 40px;
    position: absolute;
    border-radius: 50px;
    transform: translate(-50%, -50%);
    top: 70%;
    left: 44%;
    .tail {
      // each nested tail will be relative to the parent
      // this allows the tail to be positioned below 
      // the previous div
      position: relative;
      bottom: 1px;
      background-color: $luna-fur;
      height: 30px;
      width: 40px;
      border-radius: 20px 20px 0 0px;
      animation: tail 10s ease infinite;
      transform: rotate($luna-tail-angle);
      transform-origin: center center;
      .tail {
        left: -40%;
      }
      &.last {
        border-radius: 20px;
      }
    }
}

.logged-in {
  display: none;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  transition: display .5s ease;
}

@keyframes tail {
  0%, 20%, 75%, 100% {
    transform: rotate(-$luna-tail-angle);
  }
  35%, 40% {
    transform: rotate(16deg);
  }
  10%, 55%, 85%{
    transform: rotate($luna-tail-angle);
  }
}
@keyframes blink {
  0% {
    transform: scaleY(1);
  }
  18% {
    transform: scaleY(1);
  }
  20% {
    transform: scaleY(0);
  }
  25% {
    transform: scaleY(1);
  }
  38% {
    transform: scaleY(1);
  }
  40% {
    transform: scaleY(0);
  }
  45% {
    transform: scaleY(1);
  }
  80% {
    transform: scaleY(1);
  }
}