body {
    background-color: rgb(77, 255, 255);
    font: normal 15pt Arial;

}
 
header {
    color: bisque;
    text-align: center;

}

section {
    background-color: bisque;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(27, 27, 27) ;


}

div {
    text-align: center;
    padding: 8px;
}

footer {
    color: bisque;
    text-align: center;
    font-style: italic;

}